#userInfo {
    margin: 5rem 1rem 2rem;
}

.btn-info{
    background-color:#00e600;
    margin:25px;
    color:black;
}

.btn-info:hover{
    cursor: pointer;
}

li{
    list-style: none;
}

.selectionButton:hover{
    cursor: pointer;
}